*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(images.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
 /* box2 */

 .add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 21px;
 }
 .add-second{
     font-size: 1rem;
     margin-left: 3px;
 }
 .add_icon{
    display: flex;
    align-items: center;
 }

 /* box3 */
 .nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
 }
 .search_select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
 }
 .search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
 }
 .search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color: #0f1111;
 }
 .nav_search:hover{
    border: 2px solid orange;
 }

 /* box4 */

 span{
    font-size: 0.7rem;
 }
 
 .nav_second{
    font-size: 0.85rem;
    font-weight: 700;
 }

 /* box5 */

 .nav_cart i {
    font-size: 30px;
 }
 .nav_cart{
    font-size: 0.85;
    font-weight: 700;
 }

 /* panel box */

 .panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
 }

 .panel_ops p{
    display: inline;
    margin-left: 15px;
 }

 .panel_ops{
    width: 70%;
    font-size: 0,85rem;
 }

 .panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
 }

 /* hero section  */

 .hero_section{
    background-image: url(Amazon_sec1.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .hero_message{

    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
 }

 .hero_message a {
    color: #007185;
 }

 /* shop section  */

 .shop_section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: rgb(211, 108, 108);
 }

 .box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin-top: 15px;
   
 }
 
 .box_image{
    height: 300px;
    background-size: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .box_content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box_content p{
    color: #007185;
 }

/* footer tag  */

.footer_panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer_panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
    margin-top: 15px;
}

.footer_panel3{
    background-color: #0f1111;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(images.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footer_panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}